.section{
	font-family: 'Muli', sans-serif;
	text-align: left;
}
.section p:first-child {
	line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 15px;
    color:#3D3D3D;
}

.form input[type="text"], .form input[type="email"], .form textarea{
	padding: 8px 15px 8px 15px;
	border: 1px solid #BABABA;
	border-radius: 5px;
	transition: 1s all;
	-moz-transition: 1s all;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
}
.form textarea {
	width: 100%;
	resize: none;
	height: 250px;
	margin-bottom: 10px;
}
.form label {
	margin-bottom: 15px;
	font-weight: bold;
}
.group-form{
	margin-bottom: 15px;
	padding: 0 15px 0 0;
}
.group-form label {
	width: 100%;
}
.group-form input{
	width: 90%;
}
.group-form label, .group-form input{
	display: block;
}

h3{
	font-weight: bold;
    color:#2E85D2;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	border: 1px solid #1B90D2;
	box-shadow: 0px 0px 10px rgba(27,141,206,.5);
}
.form .confirmation {
	background-color: rgba(35,144,232,.2);
	border-radius: 5px;
	border: 1px solid rgba(35,144,232,1);
	margin: 0 0 15px 0;
	padding: 7px;
}
.form .confirmation input[type="checkbox"] {
	font-size: .9em;
	font-weight: bold;
}

.form .confirmation p {
	margin-top: 5px;
}
.note {
	font-size: .7em;
	font-style: italic;
}